html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

main {
    font-size: 15pt;
    background-image: url(sea-6948569.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    min-height: 100dvh;
    height: 100%;
    width: 100%;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
    height: 70%;
    background: #ffffff00;
    border-radius: 20px;
    box-shadow: -1px 1px 15px, 10px 10px 10px;
    z-index: 999999;
    backdrop-filter: blur(3px);
}

h2 {
    color: #ffffff;
    margin-bottom: 150px;
}

.escrever {
    margin-bottom: 40px;
    font-size: 20px;
    width: 50%;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid;
    outline: 0;
    transition: 1s;
}

.escrever:focus {
    font-size: 25px;
    transition: 1s;
}

label {
    color: white;
}

.botao {
    width: 25%;
    height: 40px;
    border-radius: 15px;
    opacity: 80%;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    border: #c7d3f71f solid;
    background: #ffffff00;
    cursor: pointer;
}

div, form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%
}

#divbotao {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 30px;
}

a:hover {
    color: white;
}

@media(max-width: 1024px) {
    section {
        width: 90%;
    }

    .escrever {
        font-size: 16px;
        transition: 1s;
        width: 70%
    }

    .escrever:focus {
        font-size: 25px;
        transition: 1s;
        width: 90%;
    }

    #section-div {
        margin-bottom: 10%;
    }

    h2 {
        margin-bottom: 10%;
    }
}